.date-picker > div {
  width: 100%;
}

.checkbox {
  height: 100%;
  margin-bottom: 0;
  padding: 12px 0 0 15px;
  justify-content: center;
}

.text-left {
  text-align: left;
}

label {
  font-weight: 600;
  text-align: right;
  line-height: 1.2em;
  font-size: 1.2em !important;
}
