.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.app-header > div {
  display: inline-block;
  width: -webkit-fill-available;
}

td {
  white-space: nowrap;
}