.container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #333;
  display: flex;
  z-index: 1100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, .95);
}
